<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Warranty System
       
    </title>
    <!-- Include Bootstrap CSS -->
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container text-center">
        <div class="jumbotron">
            <h1 class="display-4">Welcome to Warranty System</h1>
            <p class="lead">Manage your warranties efficiently and effectively.</p>
            <hr class="my-4">
            <p>To get started, please log in.</p>
            <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
        </div>
    </div>
    <!-- Include Bootstrap JS -->
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
